.content {
  margin: 5px;
}

.filter .date_time,
.filter .method,
.filter .select_type {
  margin: 5px 0;
}

.filter .select_type {
  display: inline-block;
  width: 300px;
}

.filter .date_time .date_time_from,
.filter .date_time .date_time_to {
  display: inline-block;
  width: 300px;
  vertical-align: bottom;
}

.filter .method {
  display: inline-block;
  width: 300px;
}

/** Выбор файла bootstrap3 */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}